<div class="relative h-full">
	<canvas class="absolute h-full w-full" container-bg-tanuki></canvas>
	<div class="flex flex-col h-full">
		<div class="grow"></div>
		<div class="relative z-10">
			<slot />
		</div>
		<div class="grow-[2]"></div>
	</div>
</div>
<script>
	import { MotorFisico } from "@utils/matterjs/engine";
	import { crearTanukisDentroDeLosLimitesDelLienzo } from "./bodies";

	const lienzos = document.querySelectorAll<HTMLCanvasElement>(`canvas[container-bg-tanuki]`);
	lienzos.forEach((lienzo) => {
		const figuras = crearTanukisDentroDeLosLimitesDelLienzo(lienzo);
		const motor = new MotorFisico({
			lienzo,
			cuerpos: figuras,
		});

		motor.comenzar();
	});
</script>
