<div class="relative h-full">
	<canvas class="absolute h-full w-full" container-bg-pez-koi></canvas>
	<div class="flex flex-col h-full">
		<div class="grow"></div>
		<div class="relative z-10">
			<slot />
		</div>
		<div class="grow-[2]"></div>
	</div>
</div>
<script>
	import { MotorFisico } from "@utils/matterjs/engine";
	import { crearKoiDentroDeLosLimitesDelLienzo } from "./bodies";
	import Matter from "matter-js";

	const lienzos = document.querySelectorAll<HTMLCanvasElement>(`canvas[container-bg-pez-koi]`);
	lienzos.forEach((lienzo) => {
		const cuerpos = crearKoiDentroDeLosLimitesDelLienzo(lienzo);
		const motorSinGravedad = Matter.Engine.create({
			gravity: { x: 0, y: 0 },
		});
		const motor = new MotorFisico({
			lienzo,
			cuerpos: cuerpos,
			motor: motorSinGravedad,
		});
		motor.antesDeActualizar(() => {
			const koi = cuerpos[0];
			const radioDeGiro = Matter.Vector.magnitude(koi.position);

			Matter.Body.setPosition(koi, {
				x: radioDeGiro * Math.cos(koi.angle),
				y: radioDeGiro * Math.sin(koi.angle),
			});
		});
		motor.comenzar();
	});
</script>
