<article
	class="informacion-del-sitio h-full px-4 pt-8 pb-16 flex flex-col space-y-6 overflow-y-scroll no-scrollbar scrollbar-thin scrollbar-thumb-[#fa9f84] scrollbar-track-transparent dark:scrollbar-thumb-rose_gold"
>
	<h1
		class="text-6xl font-roboto-serif font-bold text-atomic_tangerine leading-none dark:text-rose_gold"
	>
		Sobre <br /> Nosotros
	</h1>
	<p class="text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold">
		Haiku Reels es un sitio web dedicado a compartir y preservar la creatividad de los estudiantes a
		través de haikus, breves poemas de origen japonés que buscan capturar en solo tres líneas un
		instante fugaz, una emoción profunda o la belleza de la naturaleza.
	</p>
	<p class="text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold">
		Este proyecto es parte de una iniciativa impulsada en el colegio desde hace varios años, donde
		los estudiantes crean haikus como parte de su aprendizaje y expresión artística.
	</p>
	<p class="text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold">
		Esta plataforma permite explorar esos poemas organizados por autoría, fecha, año, escuela y
		curso, ofreciendo una forma única de seguir la evolución de cada generación de estudiantes en su
		desarrollo poético. La web ha sido construida con tecnologías modernas y optimizada para
		dispositivos móviles, creando un entorno agradable y limpio que permite concentrarse en los
		haikus y las ideas que expresan.
	</p>
	<p class="text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold">
		Este proyecto también está vinculado a la Fundación Borges, una organización que trabaja por la
		promoción del arte y la cultura en el contexto educativo. Gracias a su apoyo, el proyecto ha
		crecido y hoy se extiende a la comunidad.
	</p>
	<p class="text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold">
		Si deseas conocer más sobre su labor, visita la Fundación Borges. Este espacio no solo es una
		plataforma para los haikus, sino también un archivo vivo del esfuerzo colectivo por promover la
		poesía y el arte en el ámbito educativo.
	</p>

	<p
		class="text-center text-2xl font-roboto-serif font-semibold text-atomic_tangerine dark:text-rose_gold"
	>
		Hecho con 💕 por ETEC-UBA y un excelente <a href="/haiku-reels-astro/contacto/"
			>equipo de trabajo</a
		>
	</p>
</article>
<style is:global>
	.informacion-del-sitio {
		container-name: informacion-del-sitio;
		container-type: size;
	}

	@container informacion-del-sitio (max-width: 256px) {
		.informacion-del-sitio > h1 {
			font-size: 2.25rem;
			line-height: calc(1.75 / 1.25);
		}
		.informacion-del-sitio > p {
			font-size: 1.25rem;
			line-height: calc(1.75 / 1.25);
		}
	}
</style>
