<div class="relative h-full">
	<canvas class="absolute h-full w-full" container-bg-j></canvas>
	<div class="relative z-10">
		<slot />
	</div>
</div>
<script>
	import { crearFigurasQueFormanLaLetra } from "./bodies";
	import { MotorFisico } from "@utils/matterjs/engine";

	const lienzos = document.querySelectorAll<HTMLCanvasElement>(`canvas[container-bg-j]`);
	lienzos.forEach((lienzo) => {
		const figuras = crearFigurasQueFormanLaLetra(lienzo);
		const engine = new MotorFisico({
			lienzo,
			cuerpos: figuras,
		});

		engine.comenzar();
	});
</script>
