<div class="relative h-full">
	<canvas class="absolute h-full w-full" container-bg-templo></canvas>

	<div class="flex flex-col h-full">
		<div class="grow"></div>
		<div class="relative z-10">
			<slot />
		</div>
		<div class="grow-[2]"></div>
	</div>
</div>
<script>
	import { createBodies } from "./bodies";
	import { MotorFisico } from "@utils/matterjs/engine";
	import { Vector, Body } from "matter-js";

	const lienzos = document.querySelectorAll<HTMLCanvasElement>(`canvas[container-bg-templo]`);
	lienzos.forEach((canvas) => {
		const cuerpos = createBodies(canvas);
		const velocidad = Vector.create(-0.5, 0);

		const motor = new MotorFisico({
			canvas,
			cuerpos,
		});

		motor.despuesDeActualizar(() => {
			cuerpos.forEach((cuerpo) => {
				Body.setVelocity(cuerpo, velocidad);
			});
		});

		motor.comenzar();
	});
</script>
