<article
	data-pagefind-ignore
	class="articulo-de-la-portada px-4 py-8 flex flex-col space-y-6"
	role="banner"
>
	<h1
		class="titulo-de-la-portada text-8xl font-roboto-serif font-bold text-atomic_tangerine dark:text-rose_gold"
	>
		Haiku <br /> Reels
	</h1>

	<p
		class="subtitulo-de-la-portada text-2xl font-roboto-serif font-medium text-atomic_tangerine dark:text-rose_gold"
	>
		La poesía <br /> es un estado del alma,<br /> no una forma literaria
	</p>
	<slot />
</article>

<style>
	.articulo-de-la-portada {
		container-name: articulo-de-la-portada;
		container-type: size;
	}

	@container articulo-de-la-portada (max-width: 256px) {
		.titulo-de-la-portada {
			font-size: 3.75rem;
			line-height: 1;
		}

		.subtitulo-de-la-portada {
			font-size: 1.26rem;
			line-height: calc(1.75 / 1.25);
		}
	}
</style>
