<div class="relative h-full flex flex-col">
	<canvas class="absolute h-full w-full" container-bg-lamparas></canvas>
	<div class="flex flex-col h-full">
		<div class="grow"></div>
		<div class="relative z-10">
			<slot />
		</div>
		<div class="grow"></div>
	</div>
</div>
<script>
	import { crearLamparas } from "./bodies";
	import { MotorFisico } from "@utils/matterjs/engine";
	import { Vector, Body } from "matter-js";

	const lienzos = document.querySelectorAll<HTMLCanvasElement>(`canvas[container-bg-lamparas]`);
	lienzos.forEach((lienzo) => {
		const bodies = crearLamparas(lienzo);
		const velocity = Vector.create(0.4, -0.4);
		const engine = new MotorFisico({
			lienzo,
			cuerpos: bodies,
		});

		engine.antesDeActualizar(() => {
			bodies.forEach((body) => {
				Body.setVelocity(body, velocity);
			});
		});

		engine.comenzar();
	});
</script>
